
<div id="rotate-words" style="background-color:#81BCFF ; background-image: url(assets/8.png); background-repeat: no-repeat;" > 
   
<div>Cinematic, Animated Text Effect<br />  <span>Someone</span></div>
<div>Perfect for Any Movie<br />  <span>No one</span></div>
<div>Loops for Eternity<br />  <span>Anyone</span></div>
<div>Simple CSS Tricks<br />  <span>Everyone</span></div>
<div>Cinematic, Animated Text Effect<br />  <span>Everyone</span></div>
<div>Perfect for Any Movie<br />  <span>Someone</span></div>
<div>Loops for Eternity<br />  <span>No one</span></div>
<div>Simple CSS Tricks<br />  <span>Someone</span></div>
</div>

