

<p 

class="text-center" style="font-size: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">¿Que estas buscando?</p>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>Simple gallery pure css</h1>
<div class="container-all">
<div class="container">
  <img src="https://images.pexels.com/photos/2628105/pexels-photo-2628105.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://images.pexels.com/photos/6755136/pexels-photo-6755136.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
  <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://images.pexels.com/photos/3912373/pexels-photo-3912373.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://images.pexels.com/photos/3912373/pexels-photo-3912373.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://images.pexels.com/photos/6755136/pexels-photo-6755136.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
<div class="container">
  <img src="https://images.pexels.com/photos/2628105/pexels-photo-2628105.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
   <span class="title">Lorem ipsum dolor</span>
  <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
</div>
</div>