<div class="  bg-light "   >
    
  <app-inicio></app-inicio>
</div>

<div class="  bg-light "   >
    
  <app-tarjetas></app-tarjetas>
</div>

<div class="  bg-light "   >
    
  <app-efecto></app-efecto>
</div>

<div class="  bg-light "   >
    
  <app-empresas></app-empresas>

</div><br><br>

<div class="  bg-light "   >
    
  <app-efectos></app-efectos>
  
</div><br><br><br><br>

<div class="  bg-light "   >
    
  <app-nuevo></app-nuevo>
  
</div><br><br>

<div class="  bg-light "   >
    
  <app-footer></app-footer>
  
</div>

